/* ---------------------
        IMPORT
--------------------- */
@import url(reset.css);
@import url(variable.css);
/* ---------------------
        IMPORT
--------------------- */



/* ---------------------
        COMMON
--------------------- */

img{
    max-width: 100%;
    display: block;
}


body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;  
}



footer{
    height: 100px;

    background-color: black;
}




main{
    height: calc(100%);
    flex-grow: 1;
    overflow-y: auto;
    
}


a{
    text-decoration: none;
    color: black;
}


.list-inline{
    list-style: none;
}

/* ---------------------
       COMMON
--------------------- */










/* ---------------------
       PAGE CONTAINER
--------------------- */

.page-container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    background-color: aqua;
}

/* @media screen and (max-width:1100px) {
    .page-container {
        display: block;
        
    }

}

@media screen and (max-width:600px) {
    .page-container {
        display: flex;

    }

} */

/* ---------------------
       PAGE CONTAINER
--------------------- */







/* ---------------------
        HEADER
--------------------- */

header {
    position: fixed;
    right: 0;
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.906);
}



.header-container{
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* screen a 600px */
@media screen and (max-width:600px){
    header {
        width: calc(100% - 50px);
 }

}

/* ---------------------
        HEADER
--------------------- */





/* ---------------------
        ASIDE DESKTOP
--------------------- */

.aside-desktop {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    width: 230px;
    background-color: rgb(177, 37, 37);
}

.aside-mobile{
    width: 50px;
    background-color: rgb(177, 37, 37);
    display: none;
}



.logo-desk{
    background-color: rgb(0, 195, 255);
    flex-shrink: 0;
    padding: 0 1rem;
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
}



.logo-desk img{
    width:116px;
    height: 50px;
}


.find-desk li{
    border-left: 2px solid transparent;
}

.find-desk li:first-child{
    border-left: 2px solid lightgreen;
}


.find-desk img{
    margin: 10px 10px;
}

.list-inline img{
    width: 1.5625rem;
    height: 1.5625rem;
}

.find-desk .list-inline li{
    
}

.find-desk .list-inline li:first-child{
   
}


.playlist{
    padding: .625rem 1rem;
}

.make-playlist{
    padding-top: .625rem;
    display: flex;
    align-items: center;
}

.square-icon{
    background-color:var(--second-color) ;
    height:40px;
    width: 40px;
    margin-right: .625rem;
}

.name-playlist{
    flex-grow: 1;
    margin-bottom: auto;
    padding: .625rem 16px;
    overflow-y: auto;
}

.name-playlist .list-inline li{
    padding: .3125rem 0;
}

.credits{
    padding: .625rem 1rem;

}


.credits img{
    height: 1.875rem;
    width: 1.875rem;
}



.credits p{
    padding-bottom: .625rem;
}

.user{
    display: flex;
    align-items: center;
    padding-top: .625rem;
}

.user h4{
    padding-left: .3125rem;
}

/* ---------------------
        ASIDE DESKTOP
--------------------- */




/* ---------------------
        ASIDE MOBILE
--------------------- */

.home-logo #minilogo{
    margin-bottom: 20px;
}



.home-logo i{
    font-size: 1.875rem;
}

.home-logo{
    padding-top: 20px;
    width: 40px;
    height: 90px;
    margin: auto;
}

.aside-mobile img{
    margin: auto;
    text-align: center;
    width: 1.5625rem;
    height: 1.5625rem;
}

.aside-mobile{
    overflow-y: auto;
    max-height: 100%;
    position: relative;
}


.nav-aside-mobile{
    margin-top: .625rem;

}


.up li{
    padding-bottom: .625rem;
}


.down{
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 10px;
    right:10px;
}

/* screen a 600px */
@media screen and (max-width:600px) {

    .logo-desk{
        display: none;
    }

    .aside-desktop{
        display: none;
    }

    .aside-mobile{
        max-height: 100%;
        display: block;
    }

}